{% extends "header.html" %}
{% block title %}Login{% endblock title %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<h1></h1>

<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="input-card">
            <h1 class="text-center">Вход</h1>

            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table class="mb-3">
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <input class="btn btn-primary" type="submit" value="Войти">
                    <input type="hidden" name="next" value="{{ next }}">
                    <a href="sign_up.html" class="btn btn-primary">Зарегистрироваться</a>
                </form>


                <div class=" mt-3">
                    <a class="ml-2" type="submit"
                        href="{% url 'social:begin' 'yandex-oauth2' %}">
                        <img class="doc-c-image doc-c-image"
                            src="//yastatic.net/doccenter/images/tech2.yandex.ru/ru/passport/doc/dg/freeze/6rDvXXB38VOBgtxkOExfxnZPUWs.png">
                    Войти через Яндекс</a>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}